<section>
  <div class="resumo_container">
    <div class="resumo_status habilitado" routerLinkActive="ativo ativo_criadas" routerLink="/tarefas/criadas">
      <span class="resumo_status_descricao">Terefas criadas</span>
      <div class="resumo_status_quantidade criadas">{{ resumoQuantidadeTarefas.criadas }}</div>
    </div>
    <div class="resumo_status desabilitado" routerLinkActive="ativo ativo_andamento" routerLink="/tarefas/andamento">
      <span class="resumo_status_descricao">Terefas em andamento</span>
      <div class="resumo_status_quantidade andamento">{{ resumoQuantidadeTarefas.andamento }}</div>
    </div>
    <div class="resumo_status desabilitado" routerLinkActive="ativo ativo_concluidas" routerLink="/tarefas/concluida">
      <span class="resumo_status_descricao">Terefas concluidas</span>
      <div class="resumo_status_quantidade concluidas">{{ resumoQuantidadeTarefas.concluida }}</div>
    </div>
  </div>
</section>
